[submodule "themes/meme"]
	path = themes/meme
	url = https://github.com/reuixiy/hugo-theme-meme.git
[submodule "static/attachment"]
	path = static/attachment
	url = https://github.com/qt06/blog-attachment.git
